<a href="https://www.kaggle.com/code/dilekankaya/titanic?scriptVersionId=178987474" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
##################################################
# Pandas Alıştırmalar
##################################################

import numpy as np
import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

#########################################
# Görev 1: Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.
#########################################
titanic = sns.load_dataset('titanic')
print(titanic.head())

#########################################
# Görev 2: Yukarıda tanımlanan Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.
#########################################

gender_counts = titanic["sex"].value_counts()
print(gender_counts)


#########################################
# Görev 3: Her bir sutuna ait unique değerlerin sayısını bulunuz.
#########################################
titanic.nunique()


#########################################
# Görev 4: pclass değişkeninin unique değerleri bulunuz.
#########################################

titanic["pclass"].unique()


#########################################
# Görev 5:  pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz.
#########################################

titanic[["pclass","parch"]].nunique()

#########################################
# Görev 6: embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz. Tekrar tipini kontrol ediniz.
#########################################

print(titanic["embarked"].dtype)
titanic["embarked"] = titanic["embarked"].astype("category")
print(titanic["embarked"].dtype)
#########################################
# Görev 7: embarked değeri C olanların tüm bilgelerini gösteriniz.
#########################################

print(titanic[titanic["embarked"]=="C"])


#########################################
# Görev 8: embarked değeri S olmayanların tüm bilgelerini gösteriniz.
#########################################

print(titanic[titanic["embarked"]!="S"])

#########################################
# Görev 9: Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.
#########################################

titanic[(titanic["sex"]=="female") & (titanic["age"]<30)]

#########################################
# Görev 10: Fare'i 500'den büyük veya yaşı 70 den büyük yolcuların bilgilerini gösteriniz.
#########################################

titanic[(titanic["fare"]>500) | (titanic["age"] > 70)]

#########################################
# Görev 11: Her bir değişkendeki boş değerlerin toplamını bulunuz.
#########################################

titanic.isnull().sum()


#########################################
# Görev 12: who değişkenini dataframe'den düşürün.
#########################################

titanic = titanic.drop(columns=['who'])
print(titanic)

#########################################
# Görev 13: deck değikenindeki boş değerleri deck değişkenin en çok tekrar eden değeri (mode) ile doldurunuz.
#########################################

deck_mode = titanic["deck"].mode()[0]
titanic["deck"] = titanic["deck"].fillna(deck_mode)
print(titanic)



#########################################
# Görev 14: age değikenindeki boş değerleri age değişkenin medyanı ile doldurun.
#########################################
age_median = titanic["age"].median()
print(age_median)
titanic["age"] = titanic["age"].fillna(age_median)
print(titanic["age"])


#########################################
# Görev 15: survived değişkeninin Pclass ve Cinsiyet değişkenleri kırılımınında sum, count, mean değerlerini bulunuz.
#########################################
grouped_data = titanic.groupby(['pclass', 'sex']).agg({
    'survived': ['sum', 'count', 'mean']
})
print(grouped_data)
#########################################
# Görev 16:  30 yaşın altında olanlar 1, 30'a eşit ve üstünde olanlara 0 vericek bir fonksiyon yazınız.
# Yazdığınız fonksiyonu kullanarak titanik veri setinde age_flag adında bir değişken oluşturunuz oluşturunuz. (apply ve lambda yapılarını kullanınız)
#########################################
def age_categorize(age):
    if age < 30:
        return 1
    else:
        return 0
titanic["age_flag"] = titanic["age"].apply(lambda x : age_categorize(x))
print(titanic["age_flag"])

#########################################
# Görev 17: Seaborn kütüphanesi içerisinden Tips veri setini tanımlayınız.
#########################################

import seaborn as sns
tips = sns.load_dataset('tips')
print(tips.head())


#########################################
# Görev 18: Time değişkeninin kategorilerine (Dinner, Lunch) göre total_bill  değerlerinin toplamını, min, max ve ortalamasını bulunuz.
#########################################

time_group = tips.groupby("time")["total_bill"].agg(["sum", "min", "max", "mean"])
print(time_group)

#########################################
# Görev 19: Günlere ve time göre total_bill değerlerinin toplamını, min, max ve ortalamasını bulunuz.
#########################################
time_day_group = tips.groupby(["day","time"])["total_bill"].agg(["sum","min","max","mean"])
print(time_day_group)

#########################################
# Görev 20:Lunch zamanına ve kadın müşterilere ait total_bill ve tip  değerlerinin day'e göre toplamını, min, max ve ortalamasını bulunuz.
#########################################
lunch_females = tips[(tips['time'] == 'Lunch') & (tips['sex'] == 'Female')]
lunch_female_stats = lunch_females.groupby('day')[['total_bill', 'tip']].agg(['sum', 'min', 'max', 'mean'])
print(lunch_female_stats)
#########################################
# Görev 21: size'i 3'ten küçük, total_bill'i 10'dan büyük olan siparişlerin ortalaması nedir?
#########################################

filtered_orders = tips[(tips['size'] < 3) & (tips['total_bill'] > 10)]
average_total_bill = filtered_orders['total_bill'].mean()
print(average_total_bill)

#########################################
# Görev 22: total_bill_tip_sum adında yeni bir değişken oluşturun. Her bir müşterinin ödediği totalbill ve tip in toplamını versin.
#########################################

tips['total_bill_tip_sum'] = tips['total_bill'] + tips['tip']
print(tips[['total_bill', 'tip', 'total_bill_tip_sum']].head())

#########################################
# Görev 23: total_bill_tip_sum değişkenine göre büyükten küçüğe sıralayınız ve ilk 30 kişiyi yeni bir dataframe'e atayınız.
#########################################

   survived  pclass     sex   age  sibsp  parch     fare embarked  class    who  adult_male deck  embark_town alive  alone
0         0       3    male  22.0      1      0   7.2500        S  Third    man        True  NaN  Southampton    no  False
1         1       1  female  38.0      1      0  71.2833        C  First  woman       False    C    Cherbourg   yes  False
2         1       3  female  26.0      0      0   7.9250        S  Third  woman       False  NaN  Southampton   yes   True
3         1       1  female  35.0      1      0  53.1000        S  First  woman       False    C  Southampton   yes  False
4         0       3    male  35.0      0      0   8.0500        S  Third    man        True  NaN  Southampton    no   True
sex
male      577
female    314
Name: count, dtype: int64
object
category
     survived  pclass     sex    age  sibsp  parch      fare embarked   class    who  adult_male deck embark_town alive  alone
1           1       1  female  38.00      1      0   71.2833        C   First  woman       False    C   Cherbourg   yes  False
9           1       2  female  14.00      1      0   30.0708        C  Second  child       False  NaN   Cherbourg   yes  False
19          1       3  female    NaN      0      0    7.2250        C   Third  woman       False  NaN   Cherbourg   yes   True
26          0       3    male    NaN      0      0    7.2250        C   Third    man        True  NaN   Cherbourg    no   True
30          0       1    male  40.00      0      0   27.7208        C   First    man        True  NaN   Cherbourg    no   True
31          1       1  female    NaN      1      0  146.5208        C   First  woman       False    B   Cherbourg   yes  False
34          0       1    male  28.00      1      0   82.1708        C   First    man        True  NaN   Cherbourg    no  False
36          1       3    male    NaN      0      0    7.2292        C   Third    man        True  NaN   Cherbourg   yes   True
39          1       3  female  14.00      1      0   11.2417        C   Third  child       False  NaN   Cherbourg   yes  False
42          0       3    male    NaN      0      0    7.8958        C   Third    man        True  NaN   Cherbourg    no   True
43          1       2  female   3.00      1      2   41.5792        C  Second  child       False  NaN   Cherbourg   yes  False
48          0       3    male    NaN      2      0   21.6792        C   Third    man        True  NaN   Cherbourg    no  False
52          1       1  female  49.00      1      0   76.7292        C   First  woman       False    D   Cherbourg   yes  False
54          0       1    male  65.00      0      1   61.9792        C   First    man        True    B   Cherbourg    no  False
57          0       3    male  28.50      0      0    7.2292        C   Third    man        True  NaN   Cherbourg    no   True
60          0       3    male  22.00      0      0    7.2292        C   Third    man        True  NaN   Cherbourg    no   True
64          0       1    male    NaN      0      0   27.7208        C   First    man        True  NaN   Cherbourg    no   True
65          1       3    male    NaN      1      1   15.2458        C   Third    man        True  NaN   Cherbourg   yes  False
73          0       3    male  26.00      1      0   14.4542        C   Third    man        True  NaN   Cherbourg    no  False
96          0       1    male  71.00      0      0   34.6542        C   First    man        True    A   Cherbourg    no   True
97          1       1    male  23.00      0      1   63.3583        C   First    man        True    D   Cherbourg   yes  False
111         0       3  female  14.50      1      0   14.4542        C   Third  child       False  NaN   Cherbourg    no  False
114         0       3  female  17.00      0      0   14.4583        C   Third  woman       False  NaN   Cherbourg    no   True
118         0       1    male  24.00      0      1  247.5208        C   First    man        True    B   Cherbourg    no  False
122         0       2    male  32.50      1      0   30.0708        C  Second    man        True  NaN   Cherbourg    no  False
125         1       3    male  12.00      1      0   11.2417        C   Third  child       False  NaN   Cherbourg   yes  False
128         1       3  female    NaN      1      1   22.3583        C   Third  woman       False    F   Cherbourg   yes  False
130         0       3    male  33.00      0      0    7.8958        C   Third    man        True  NaN   Cherbourg    no   True
135         0       2    male  23.00      0      0   15.0458        C  Second    man        True  NaN   Cherbourg    no   True
139         0       1    male  24.00      0      0   79.2000        C   First    man        True    B   Cherbourg    no   True
140         0       3  female    NaN      0      2   15.2458        C   Third  woman       False  NaN   Cherbourg    no  False
155         0       1    male  51.00      0      1   61.3792        C   First    man        True  NaN   Cherbourg    no  False
174         0       1    male  56.00      0      0   30.6958        C   First    man        True    A   Cherbourg    no   True
177         0       1  female  50.00      0      0   28.7125        C   First  woman       False    C   Cherbourg    no   True
181         0       2    male    NaN      0      0   15.0500        C  Second    man        True  NaN   Cherbourg    no   True
194         1       1  female  44.00      0      0   27.7208        C   First  woman       False    B   Cherbourg   yes   True
195         1       1  female  58.00      0      0  146.5208        C   First  woman       False    B   Cherbourg   yes   True
203         0       3    male  45.50      0      0    7.2250        C   Third    man        True  NaN   Cherbourg    no   True
207         1       3    male  26.00      0      0   18.7875        C   Third    man        True  NaN   Cherbourg   yes   True
209         1       1    male  40.00      0      0   31.0000        C   First    man        True    A   Cherbourg   yes   True
215         1       1  female  31.00      1      0  113.2750        C   First  woman       False    D   Cherbourg   yes  False
218         1       1  female  32.00      0      0   76.2917        C   First  woman       False    D   Cherbourg   yes   True
240         0       3  female    NaN      1      0   14.4542        C   Third  woman       False  NaN   Cherbourg    no  False
244         0       3    male  30.00      0      0    7.2250        C   Third    man        True  NaN   Cherbourg    no   True
255         1       3  female  29.00      0      2   15.2458        C   Third  woman       False  NaN   Cherbourg   yes  False
256         1       1  female    NaN      0      0   79.2000        C   First  woman       False  NaN   Cherbourg   yes   True
258         1       1  female  35.00      0      0  512.3292        C   First  woman       False  NaN   Cherbourg   yes   True
273         0       1    male  37.00      0      1   29.7000        C   First    man        True    C   Cherbourg    no  False
285         0       3    male  33.00      0      0    8.6625        C   Third    man        True  NaN   Cherbourg    no   True
291         1       1  female  19.00      1      0   91.0792        C   First  woman       False    B   Cherbourg   yes  False
292         0       2    male  36.00      0      0   12.8750        C  Second    man        True    D   Cherbourg    no   True
295         0       1    male    NaN      0      0   27.7208        C   First    man        True  NaN   Cherbourg    no   True
296         0       3    male  23.50      0      0    7.2292        C   Third    man        True  NaN   Cherbourg    no   True
299         1       1  female  50.00      0      1  247.5208        C   First  woman       False    B   Cherbourg   yes  False
306         1       1  female    NaN      0      0  110.8833        C   First  woman       False  NaN   Cherbourg   yes   True
307         1       1  female  17.00      1      0  108.9000        C   First  woman       False    C   Cherbourg   yes  False
308         0       2    male  30.00      1      0   24.0000        C  Second    man        True  NaN   Cherbourg    no  False
309         1       1  female  30.00      0      0   56.9292        C   First  woman       False    E   Cherbourg   yes   True
310         1       1  female  24.00      0      0   83.1583        C   First  woman       False    C   Cherbourg   yes   True
311         1       1  female  18.00      2      2  262.3750        C   First  woman       False    B   Cherbourg   yes  False
319         1       1  female  40.00      1      1  134.5000        C   First  woman       False    E   Cherbourg   yes  False
325         1       1  female  36.00      0      0  135.6333        C   First  woman       False    C   Cherbourg   yes   True
329         1       1  female  16.00      0      1   57.9792        C   First  woman       False    B   Cherbourg   yes  False
337         1       1  female  41.00      0      0  134.5000        C   First  woman       False    E   Cherbourg   yes   True
352         0       3    male  15.00      1      1    7.2292        C   Third  child       False  NaN   Cherbourg    no  False
354         0       3    male    NaN      0      0    7.2250        C   Third    man        True  NaN   Cherbourg    no   True
361         0       2    male  29.00      1      0   27.7208        C  Second    man        True  NaN   Cherbourg    no  False
362         0       3  female  45.00      0      1   14.4542        C   Third  woman       False  NaN   Cherbourg    no  False
366         1       1  female  60.00      1      0   75.2500        C   First  woman       False    D   Cherbourg   yes  False
367         1       3  female    NaN      0      0    7.2292        C   Third  woman       False  NaN   Cherbourg   yes   True
369         1       1  female  24.00      0      0   69.3000        C   First  woman       False    B   Cherbourg   yes   True
370         1       1    male  25.00      1      0   55.4417        C   First    man        True    E   Cherbourg   yes  False
373         0       1    male  22.00      0      0  135.6333        C   First    man        True  NaN   Cherbourg    no   True
375         1       1  female    NaN      1      0   82.1708        C   First  woman       False  NaN   Cherbourg   yes  False
377         0       1    male  27.00      0      2  211.5000        C   First    man        True    C   Cherbourg    no  False
378         0       3    male  20.00      0      0    4.0125        C   Third    man        True  NaN   Cherbourg    no   True
380         1       1  female  42.00      0      0  227.5250        C   First  woman       False  NaN   Cherbourg   yes   True
381         1       3  female   1.00      0      2   15.7417        C   Third  child       False  NaN   Cherbourg   yes  False
389         1       2  female  17.00      0      0   12.0000        C  Second  woman       False  NaN   Cherbourg   yes   True
393         1       1  female  23.00      1      0  113.2750        C   First  woman       False    D   Cherbourg   yes  False
420         0       3    male    NaN      0      0    7.8958        C   Third    man        True  NaN   Cherbourg    no   True
448         1       3  female   5.00      2      1   19.2583        C   Third  child       False  NaN   Cherbourg   yes  False
452         0       1    male  30.00      0      0   27.7500        C   First    man        True    C   Cherbourg    no   True
453         1       1    male  49.00      1      0   89.1042        C   First    man        True    C   Cherbourg   yes  False
455         1       3    male  29.00      0      0    7.8958        C   Third    man        True  NaN   Cherbourg   yes   True
469         1       3  female   0.75      2      1   19.2583        C   Third  child       False  NaN   Cherbourg   yes  False
473         1       2  female  23.00      0      0   13.7917        C  Second  woman       False    D   Cherbourg   yes   True
484         1       1    male  25.00      1      0   91.0792        C   First    man        True    B   Cherbourg   yes  False
487         0       1    male  58.00      0      0   29.7000        C   First    man        True    B   Cherbourg    no   True
493         0       1    male  71.00      0      0   49.5042        C   First    man        True  NaN   Cherbourg    no   True
495         0       3    male    NaN      0      0   14.4583        C   Third    man        True  NaN   Cherbourg    no   True
496         1       1  female  54.00      1      0   78.2667        C   First  woman       False    D   Cherbourg   yes  False
505         0       1    male  18.00      1      0  108.9000        C   First    man        True    C   Cherbourg    no  False
513         1       1  female  54.00      1      0   59.4000        C   First  woman       False  NaN   Cherbourg   yes  False
522         0       3    male    NaN      0      0    7.2250        C   Third    man        True  NaN   Cherbourg    no   True
523         1       1  female  44.00      0      1   57.9792        C   First  woman       False    B   Cherbourg   yes  False
524         0       3    male    NaN      0      0    7.2292        C   Third    man        True  NaN   Cherbourg    no   True
531         0       3    male    NaN      0      0    7.2292        C   Third    man        True  NaN   Cherbourg    no   True
532         0       3    male  17.00      1      1    7.2292        C   Third    man        True  NaN   Cherbourg    no  False
533         1       3  female    NaN      0      2   22.3583        C   Third  woman       False  NaN   Cherbourg   yes  False
537         1       1  female  30.00      0      0  106.4250        C   First  woman       False  NaN   Cherbourg   yes   True
539         1       1  female  22.00      0      2   49.5000        C   First  woman       False    B   Cherbourg   yes  False
544         0       1    male  50.00      1      0  106.4250        C   First    man        True    C   Cherbourg    no  False
547         1       2    male    NaN      0      0   13.8625        C  Second    man        True  NaN   Cherbourg   yes   True
550         1       1    male  17.00      0      2  110.8833        C   First    man        True    C   Cherbourg   yes  False
553         1       3    male  22.00      0      0    7.2250        C   Third    man        True  NaN   Cherbourg   yes   True
556         1       1  female  48.00      1      0   39.6000        C   First  woman       False    A   Cherbourg   yes  False
557         0       1    male    NaN      0      0  227.5250        C   First    man        True  NaN   Cherbourg    no   True
568         0       3    male    NaN      0      0    7.2292        C   Third    man        True  NaN   Cherbourg    no   True
578         0       3  female    NaN      1      0   14.4583        C   Third  woman       False  NaN   Cherbourg    no  False
581         1       1  female  39.00      1      1  110.8833        C   First  woman       False    C   Cherbourg   yes  False
583         0       1    male  36.00      0      0   40.1250        C   First    man        True    A   Cherbourg    no   True
584         0       3    male    NaN      0      0    8.7125        C   Third    man        True  NaN   Cherbourg    no   True
587         1       1    male  60.00      1      1   79.2000        C   First    man        True    B   Cherbourg   yes  False
591         1       1  female  52.00      1      0   78.2667        C   First  woman       False    D   Cherbourg   yes  False
598         0       3    male    NaN      0      0    7.2250        C   Third    man        True  NaN   Cherbourg    no   True
599         1       1    male  49.00      1      0   56.9292        C   First    man        True    A   Cherbourg   yes  False
604         1       1    male  35.00      0      0   26.5500        C   First    man        True  NaN   Cherbourg   yes   True
608         1       2  female  22.00      1      2   41.5792        C  Second  woman       False  NaN   Cherbourg   yes  False
620         0       3    male  27.00      1      0   14.4542        C   Third    man        True  NaN   Cherbourg    no  False
622         1       3    male  20.00      1      1   15.7417        C   Third    man        True  NaN   Cherbourg   yes  False
632         1       1    male  32.00      0      0   30.5000        C   First    man        True    B   Cherbourg   yes   True
641         1       1  female  24.00      0      0   69.3000        C   First  woman       False    B   Cherbourg   yes   True
644         1       3  female   0.75      2      1   19.2583        C   Third  child       False  NaN   Cherbourg   yes  False
645         1       1    male  48.00      1      0   76.7292        C   First    man        True    D   Cherbourg   yes  False
647         1       1    male  56.00      0      0   35.5000        C   First    man        True    A   Cherbourg   yes   True
659         0       1    male  58.00      0      2  113.2750        C   First    man        True    D   Cherbourg    no  False
661         0       3    male  40.00      0      0    7.2250        C   Third    man        True  NaN   Cherbourg    no   True
679         1       1    male  36.00      0      1  512.3292        C   First    man        True    B   Cherbourg   yes  False
681         1       1    male  27.00      0      0   76.7292        C   First    man        True    D   Cherbourg   yes   True
685         0       2    male  25.00      1      2   41.5792        C  Second    man        True  NaN   Cherbourg    no  False
691         1       3  female   4.00      0      1   13.4167        C   Third  child       False  NaN   Cherbourg   yes  False
693         0       3    male  25.00      0      0    7.2250        C   Third    man        True  NaN   Cherbourg    no   True
698         0       1    male  49.00      1      1  110.8833        C   First    man        True    C   Cherbourg    no  False
700         1       1  female  18.00      1      0  227.5250        C   First  woman       False    C   Cherbourg   yes  False
702         0       3  female  18.00      0      1   14.4542        C   Third  woman       False  NaN   Cherbourg    no  False
709         1       3    male    NaN      1      1   15.2458        C   Third    man        True  NaN   Cherbourg   yes  False
710         1       1  female  24.00      0      0   49.5042        C   First  woman       False    C   Cherbourg   yes   True
716         1       1  female  38.00      0      0  227.5250        C   First  woman       False    C   Cherbourg   yes   True
731         0       3    male  11.00      0      0   18.7875        C   Third  child       False  NaN   Cherbourg    no   True
737         1       1    male  35.00      0      0  512.3292        C   First    man        True    B   Cherbourg   yes   True
742         1       1  female  21.00      2      2  262.3750        C   First  woman       False    B   Cherbourg   yes  False
762         1       3    male  20.00      0      0    7.2292        C   Third    man        True  NaN   Cherbourg   yes   True
766         0       1    male    NaN      0      0   39.6000        C   First    man        True  NaN   Cherbourg    no   True
773         0       3    male    NaN      0      0    7.2250        C   Third    man        True  NaN   Cherbourg    no   True
780         1       3  female  13.00      0      0    7.2292        C   Third  child       False  NaN   Cherbourg   yes   True
789         0       1    male  46.00      0      0   79.2000        C   First    man        True    B   Cherbourg    no   True
793         0       1    male    NaN      0      0   30.6958        C   First    man        True  NaN   Cherbourg    no   True
798         0       3    male  30.00      0      0    7.2292        C   Third    man        True  NaN   Cherbourg    no   True
803         1       3    male   0.42      0      1    8.5167        C   Third  child       False  NaN   Cherbourg   yes  False

/tmp/ipykernel_17/2251501108.py:142: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  time_group = tips.groupby("time")["total_bill"].agg(["sum", "min", "max", "mean"])
/tmp/ipykernel_17/2251501108.py:148: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  time_day_group = tips.groupby(["day","time"])["total_bill"].agg(["sum","min","max","mean"])
/tmp/ipykernel_17/2251501108.py:155: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  lunch_female_stats = lunch_females.groupby('day')[['total_bill', 'tip']].agg(['sum', 'min', 'max', 'mean'])